In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("resources/games_details.csv")
df.head()

/Users/mitch/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [23]:
df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       412863
COMMENT              558939
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

In [33]:
wash = df.drop(["COMMENT", "START_POSITION", "TEAM_ABBREVIATION", "NICKNAME", "PLUS_MINUS", "TEAM_CITY", "OREB", "DREB", "PF"], axis=1)
wash

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
0,22200477,1610612759,1629641,Romeo Langford,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,2.0,0.0,1.0,0.0,2.0,2.0
1,22200477,1610612759,1631110,Jeremy Sochan,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,9.0,6.0,1.0,0.0,2.0,23.0
2,22200477,1610612759,1627751,Jakob Poeltl,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,4.0,1.0,1.0,0.0,2.0,13.0
3,22200477,1610612759,1630170,Devin Vassell,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,9.0,5.0,3.0,0.0,2.0,10.0
4,22200477,1610612759,1630200,Tre Jones,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,2.0,3.0,0.0,0.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,202706,Jordan Hamilton,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,2.0,0.0,2.0,0.0,1.0,17.0
668624,11200005,1610612743,202702,Kenneth Faried,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,1.0,1.0,0.0,3.0,18.0
668625,11200005,1610612743,201585,Kosta Koufos,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,8.0,0.0,1.0,0.0,0.0,6.0
668626,11200005,1610612743,202389,Timofey Mozgov,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,3.0,1.0,0.0,0.0,4.0,2.0
668627,11200005,1610612743,201951,Ty Lawson,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,2.0,6.0,2.0,0.0,6.0,8.0

In [35]:
wash.isnull().sum()

GAME_ID             0
TEAM_ID             0
PLAYER_ID           0
PLAYER_NAME         0
MIN            109690
FGM            109690
FGA            109690
FG_PCT         109690
FG3M           109690
FG3A           109690
FG3_PCT        109690
FTM            109690
FTA            109690
FT_PCT         109690
REB            109690
AST            109690
STL            109690
BLK            109690
TO             109690
PTS            109690
dtype: int64

In [36]:
scrub = wash.dropna()
scrub

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
0,22200477,1610612759,1629641,Romeo Langford,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,2.0,0.0,1.0,0.0,2.0,2.0
1,22200477,1610612759,1631110,Jeremy Sochan,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,9.0,6.0,1.0,0.0,2.0,23.0
2,22200477,1610612759,1627751,Jakob Poeltl,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,4.0,1.0,1.0,0.0,2.0,13.0
3,22200477,1610612759,1630170,Devin Vassell,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,9.0,5.0,3.0,0.0,2.0,10.0
4,22200477,1610612759,1630200,Tre Jones,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,2.0,3.0,0.0,0.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,202706,Jordan Hamilton,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,2.0,0.0,2.0,0.0,1.0,17.0
668624,11200005,1610612743,202702,Kenneth Faried,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,1.0,1.0,0.0,3.0,18.0
668625,11200005,1610612743,201585,Kosta Koufos,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,8.0,0.0,1.0,0.0,0.0,6.0
668626,11200005,1610612743,202389,Timofey Mozgov,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,3.0,1.0,0.0,0.0,4.0,2.0
668627,11200005,1610612743,201951,Ty Lawson,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,2.0,6.0,2.0,0.0,6.0,8.0

In [37]:
scrub.isnull().sum()

GAME_ID        0
TEAM_ID        0
PLAYER_ID      0
PLAYER_NAME    0
MIN            0
FGM            0
FGA            0
FG_PCT         0
FG3M           0
FG3A           0
FG3_PCT        0
FTM            0
FTA            0
FT_PCT         0
REB            0
AST            0
STL            0
BLK            0
TO             0
PTS            0
dtype: int64

In [39]:
scrub.to_csv("resources/clean_games_data.csv")